h1{
    color:dimgray;
    text-align: center;
}
h2{
    color: dimgray;
}
footer{
    text-align: center;
    color: dimgray;
}
header{
    text-align: center;
}
body{
font-family:'Times New Roman', Times, serif;
}

